.menu {
  display: flex;
  justify-content: center;
}

.menu button {
  min-height: 30px;
}

.menu .active {
  background-color: darkgrey;
}

.cases-table thead tr td:first-child {
  width: 12%;
}

.cases-table thead tr td:not(:first-child) {
  width: 22%;
}

.verbs-table tbody td>div,
.cases-table tbody td>div {
  min-height: 30px;
}

.verbs-table th,
td:not(.marked) {
  border: 2.5px solid black;
}

td.marked {
  border: 2.5px solid orange;
}

td.case-text
td.verb-text {
  vertical-align: top;
  font-size: 10px;
}

.cases-table thead td {
  font-size: 10px;
}

.cases-buttons {
  display: flex;
  justify-content: center;
}

/* .verbs-table thead td {
  font-size: 10px;
} */

.verbs-buttons {
  display: flex;
  justify-content: center;
}

.cases-table thead tr td:first-child {
  width: 40px;
}

.cases-table thead tr td:not(:first-child) {
  width: 60px;
}

.cases-table tbody td>div {
  min-height: 20px;
}

body {
  margin-bottom: 100px;
}

td.case-description {
  font-size: 10px;
}

.verbs-sections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.section-checkbox {
  border: solid 2px black;
  width: 300px;
  cursor: pointer;
  text-align: left;
  padding: 3px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
